<!DOCTYPE html>

<head>

    <title>Help page</title>
    <link rel="icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>